<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IParserIO" />
                <binding name="BasicHttpsBinding_IParserIO">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://services.phast.fr/ParserIO.WCF/ParserIO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IParserIO" contract="IParserIO" name="BasicHttpBinding_IParserIO" />
            <endpoint address="https://ns314189/ParserIO.WCF/ParserIO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IParserIO" contract="IParserIO" name="BasicHttpsBinding_IParserIO" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>